<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuariosCtrl</servlet-name>
        <servlet-class>Controlador.UsuariosCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HojaVidaCtrl</servlet-name>
        <servlet-class>Controlador.HojaVidaCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenteCtrl</servlet-name>
        <servlet-class>Controlador.IncidenteCtrl_old</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionUsuario</servlet-name>
        <servlet-class>Controlador.GestionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialCtrl</servlet-name>
        <servlet-class>Controlador.HistorialCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParteCtrl</servlet-name>
        <servlet-class>Controlador.ParteCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolucionCtrl</servlet-name>
        <servlet-class>Controlador.SolucionCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HojaVidaCtrl</servlet-name>
        <url-pattern>/HojaVidaCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenteCtrl</servlet-name>
        <url-pattern>/IncidenteCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionUsuario</servlet-name>
        <url-pattern>/GestionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialCtrl</servlet-name>
        <url-pattern>/HistorialCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParteCtrl</servlet-name>
        <url-pattern>/ParteCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolucionCtrl</servlet-name>
        <url-pattern>/SolucionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosCtrl</servlet-name>
        <url-pattern>/UsuariosCtrl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.nullpointerexception</exception-type>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.sqlexception</exception-type>
        <location>/500.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>pool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
